<ul class="media-list">
  <% fobitows.each do |fobitow| %>

<!-- open_uri,rescue分岐(重い..) -->
<%#        <% begin %>
<%#          <% html = open(fobitow.content) do |f| %>
<%#        <% end %>

    <li class="media">

      <div class="media-right media-top">

        <%# イメージ画像 %>
        <div class="pro-img">
        <% if fobitow.user.image? %>
          <%= image_tag(fobitow.user.image.url, :size => "40x40") %>
        <% else %>
              <span class="gravatar">
                <img class="media-object img-rounded" src="<%= gravatar_url(current_user, size: "40") %>" alt="">
              </span>
<%#          <%= image_tag("panda.png", :size => "40x40") %>
        <% end %>
        </div>
        <%= link_to 'Forum', user_path(fobitow.user) %>
      </div>

      <div class="media-body">

          <%# ユーザ名 %>
          <div>
            <%= link_to fobitow.user.name, user_path(fobitow.user) %>
          </div>
          <%# 日付 %>
          <div>
            <span class="text-muted"> posted at: <%= fobitow.created_at %></span>

            <%# ジャンル %>
            <span class="label label-info"><%= fobitow.category %></span>
          <%# いいね %>
          <span class="right" id="ajax<%= fobitow.id %>">
            <!-- ajax -->
            <%= render partial: 'favorites/favorite', locals: { fobitow: fobitow, favorite: @favorite } %>
          </span>

              <%# ゴミ箱 %>
              <span class="right">
                <% if logged_in? %>
                  <% if current_user == fobitow.user %>
                 	  <%= link_to fobitow, method: :delete, data: { confirm: "You sure?" } do %>
                    <i class="fas fa-trash fa-lg my-gray"></i>
                    <% end %>
                   <% end %>
                <% end %>
              </span>

          </div>

          <div>
                  <div class="box26">
            <% unless fobitow.title == @empty %>

                  <p class="says textOverflow">
                    <%= link_to fobitow.content, target: "_new" do %>
                      <!-- url favicon, title -->          
                      <img src="http://www.google.com/s2/favicons?domain=<%= fobitow.content.split('/').first(3).join('/')%>">
                    <% end %>

                    <%= link_to fobitow.content, target: "_new" do %>
                      <%# scrape-title %>
                      <strong><%= fobitow.title %></strong>
                    <% end %>
                  </p>
                    
            <% end %>
                  </div>
                  
                  <div class="box26">
                  <p class="says textOverflow2">
                        <%= link_to fobitow.content, target: "_new" do %>
                          <!-- body_text_h3 -->          
                          <%= fobitow.likes_count %>
                    <% end %>
                  </p>
                  </div>
               
                    <%#<%= link_to fobitow.content, target: "_new" do %>
                      <!-- hand_icon -->          
                      <%#<i class="glyphicon glyphicon-hand-right"></i>
                    <% end %>
                      <%# URL %>
                      <%#<strong>&nbsp;<%= text_url_to_link(h(fobitow.content)).html_safe %><%#</strong>%>
          </div>

<%#        <% rescue => e %>

<%#          <div>
<%#            <%#<%= fobitow.title %>
<%#          </div>
          <div>
            <i class="fas fa-ban"></i>
            <!-- 例外メッセージ表示 -->
            <span style="color:#9C9689;">
            Sorry, site can't be reached. Server IP address could not be found.
            </span>
          </div>
      <% end %>

    </li>
  <% end %>
  <%= paginate fobitows %>
</ul>