<ul class="media-list">
  <% fobitows.each do |fobitow| %>
    <li class="media">

      <div class="media-right media-top">
        <%# イメージ画像 %>
        <div class="pro-img">
        <% if fobitow.user.image? %>
          <%= image_tag(fobitow.user.image.url, :size => "40x40") %>
        <% else %>
          <%= image_tag("panda.png", :size => "40x40") %>
        <% end %>
        </div>

      </div>

      <div class="media-body">
          <%# ユーザ名 %>
          <div>
            <%= link_to fobitow.user.name, user_path(fobitow.user) %>
          </div>
          <%# 日付 %>
          <div>
            <span class="text-muted"> posted at: <%= fobitow.created_at %></span>

            <%# ジャンル %>
            <span class="label label-info"><%= fobitow.category %></span>
          </div>

          <%# いいね %>
          <span class="right">
            <% if logged_in? %>
              <% unless current_user == fobitow.user %>
                <%= render partial: 'favorites/favorite_button', locals: { fobitow: fobitow } %>
                <%#<%= render 'likes/like', locals: { fobitow: fobitow } %>
                <%#<span id="like-of-<%= fobitow.id %><%#">
                  <%= render partial: "/likes/like", locals: { fobitow: fobitow, likes: @likes } %>
                <%#</span>
%>
              <% end %>
            <% end %>
          </span>
          
          <div>
            <p class="textOverflow">
              <%# URL %>
              <strong>
                <span class="glyphicon glyphicon-hand-right"></span>
                <%= text_url_to_link(h(fobitow.content)).html_safe %>

              <%# ゴミ箱 %>
              <span class="right">
                <% if logged_in? %>
                  <% if current_user == fobitow.user %>
                 	  <%= link_to fobitow, method: :delete, data: { confirm: "You sure?" } do %>
                    <i class="fas fa-trash fa-lg my-gray"></i>
                    <% end %>
                   <% end %>
                <% end %>
              </span>

              </strong>
            </p>
          </div>

          <%# コメント %>
          <div class="says">
            <div class="box26">
              <p><%= fobitow.title %></p>
            </div>
          </div>

    </li>
  <% end %>
  <%= paginate fobitows %>
</ul>