<ul class="media-list">
  <% fobitows.each do |fobitow| %>
    <hr>

    <li class="media">

      <div class="media-right media-top">

        <%# イメージ画像 %>
        <p class="box2">
          <%= link_to user_path(fobitow.user) do %>
            <% if fobitow.user.image? %>
              <%= image_tag(fobitow.user.image.url(:thumb), :size => "80", class: 'image') %>
            <% else %>
              <span class="gravatar">
                <img class="media-object img-rounded" src="<%= gravatar_url(fobitow.user, size: "80") %>" alt="">
              </span>
            <% end %>
          <% end %>
        </p>

        <!-- Commentsへ -->
        <p>
        <%= link_to fobitow_comments_path(fobitow.id) do %>
          <i class="fa-comme far fa-comments"></i>
        <% end %>
        <span class="comments_count"><%= "(#{fobitow.comments.count})"%></span>
        </p>
      </div>

      <div class="media-body">

          <%# ユーザ名 %>
          <div>
            <%= link_to fobitow.user.name, user_path(fobitow.user) %>
          </div>
          <%# 日付 %>
          <div>
            <span class="text-muted"> Posted at <%= fobitow.created_at.strftime("%Y-%m-%d %H:%M") %>&nbsp;</span>

                <% if logged_in? %>
                  <% if current_user == fobitow.user %>
                    <!-- 編集ページへ -->
                    <%= link_to edit_fobitow_path(fobitow) do %>
                      <i class="fa-comme fas fa-edit">&nbsp;&nbsp;</i>
                    <% end %>
                    <%# ゴミ箱 %>
                 	  <%= link_to fobitow, method: :delete, data: { confirm: "You sure?" } do %>
                      <i class="fa-comme fas fa-trash my-gray"></i>
                    <% end %>
                  <% end %>
                <% end %>
                
              <span class="label label-info"><%= fobitow.category %></span>
            
          <!-- いいね -->
          <a class="right" id="ajax<%= fobitow.id %>" href="javascript:void(0);">
            <!-- ajax -->
            <%= render partial: 'favorites/favorite', locals: { fobitow: fobitow, favorite: @favorite } %>
          </a>

          </div>

          <div>
                  <div class="box26">
            <% unless fobitow.title == @empty %>

                  <p class="says textOverflow">
                    <%= link_to fobitow.content, target: "_blank" do %>
                      <!-- url favicon, title -->          
                      <img class="fav-align" src="http://www.google.com/s2/favicons?domain=<%= fobitow.content.split('/').first(3).join('/')%>">
                    <% end %>

                    <%= link_to fobitow.content, target: "_blank" do %>
                      <%# scrape-title %>
                      <%= fobitow.title %>
                    <% end %>
                  </p>
                    
            <% end %>
                  </div>
                  
                  <div class="box26">
                    <p class="says textOverflow2">
                      <%= link_to fobitow.content, target: "_blank" do %>
                        <!-- body_text_h3 -->          
                        <%= fobitow.likes_count %>
                      <% end %>
                    </p>
                  </div>
               
          </div>

    </li>
  <% end %>
  <%= paginate @fobitows, :param_name => 'fobi_page' %>
</ul>