<header>
  <div id="h2">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <%= image_tag("logo.png", :height => '34', :alt => "logo") %>
        </div>
      </div>
      <!--/row -->
    </div>
    <!--/container -->
</header> 

        <div id="contact">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h3>Edit <%= current_user.name %> 's Bookmark</h3>
                
                <div class="hr-small aligncenter"></div>
                <div class="contact-form php-mail-form">

<%= form_for(@fobitow) do |f| %>

<% if @fobitow.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @fobitow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
                        <div class="form-group">
                          <%= f.label :title, 'Title' %>
                          <li class="mark-post"><%= f.text_area :title, class: 'form-control', rows: 3 %></li>
                        </div>
                        <div class="form-group">
                          <%= f.label :content, 'URL' %>
                          <li class="mark-post"><%= f.text_area :content, :placeholder => "https://...", class: 'form-control', rows: 2 %></li>
                        </div>
                        <div class="form-group">
                          <%= f.label :category, 'Category' %>
                          <li class="mark-post"><%= f.text_area :category, :placeholder => "あとから検索しやすいタグを付けてください (12文字以内)", class: 'form-control', rows: 1 %></li>
                        </div>

                        <div class="form-group">
                      <script type="text/javascript">
                        $(function(){
                          $('textarea').bind('keydown keyup keypress change',function(){
                            var thisValueLength = $(this).val().length;
                            $('.count').html(thisValueLength);
                          });
                        });
                      </script>
                          <%= f.label :likes_count, 'Content' %>
                          <li class="mark-post">
                            <%= f.text_area :likes_count, :placeholder => "サイトの紹介文など、自由にコメントを加えてください (省略可)", class: 'form-control', rows: 6 %>
                          </li>
                      <p><span class="count">0</span></p>
                        </div>
                    <div class="form-send">
                      <button type="submit" class="btn btn-large">Update!</button>
                    </div>
  
                      <% end %>
      
                    <div class="pro-link">
                      <p><%= link_to 'back', request.referer %> | 
                      <%= link_to 'All Bookmarks', categorys_path %></p>
                  </div>

                </div>
              </div>
            </div>
          </div>
      </section>
    </section>
  </div>
</div>
