<header>

      <!--検索拡張機能  -->
      <div class="media-body">

      </div>
      
      <div class="media-right">
      <!-- ロゴ -->
            <div class="logo">
              <%= link_to root_path do %>
                <%= image_tag("logo.png", :size => '200x40', :alt => "Bookshare") %> 
              <% end %>
            </div>
      </div>

</header> 

        <!--ここからwrapperー-->
        <div id="wrapper" class="clearfix">
            <!--ここからメイン-->
            <div id="main2">
                <section id="point">
                    <h2></h2>
                    <section class="clearfix">
                        <figure>
                            <figcaption></figcaption>
                        </figure>
                        <h3>Bookshare にブックマークを追加する</h3>
                        <p>
                          
<hr>

<div class="text-center">
  <h1>Bookmark&nbsp;&nbsp;</h1>
</div>

<div>
  <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

<%= form_for(@fobitow) do |f| %>

<% if @fobitow.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @fobitow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

    <div class="field">
        <%= f.label(:content, 'ページのURLを入力') %>
        <%= f.text_field(:content, :placeholder => "おすすめページのURLを入力して下さい https://...") %><br>
    </div>

          <%= f.submit 'Post Bookmark !', class: 'btn btn-primary btn-block' %>
<% end %>

    <p class="mark-back"><%= link_to 'Back', :back %></p>

  </div>
</div>

                        </p>
                    </section>
                </section>
            </div>
        </div>
        <!--wrapperここまで-->
        <!--ここからフッター-->
        <!--フッターここまで--> 