<header>

  <div id="h2">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <%= image_tag("logo.png", :height => '34', :alt => "logo") %>
        </div>
      </div>
      <!--/row -->
    </div>
    <!--/container -->

</header> 


<!-- search -->
  <div id="bottom">
  <div class="media-body">
    <!-- ロゴ -->
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag("logo.png", :size => '200x40', :alt => "Bookshare") %> 
      <% end %>
    </div>
  </div>
    <div class="row nomargin">
      <div class="col-md-6 col-md-offset-3">
        <h2>Bookshare にブックマークを追加する</h2>
        <h5>お気に入り、おすすめページなどの URL を入力してください。</h5>


        <div class="mtb">
            <%= form_for(@fobitow) do |f| %>
              <% if @fobitow.errors.any? %>
                <div class="alert alert-warning">
                  <ul>
                    <% @fobitow.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <%= f.text_field(:content, :placeholder => "https://...", class: 'bm subscribe-input') %>
              <button class="btn btn-conf btn-green" type="submit">Bookmark!</button>
            <% end %>
        </div>
        <!--/mt-->
    <p class="mark-back"><%= link_to 'back', request.referer %>&nbsp;&nbsp;&nbsp;</p>

        <p class="mt-100">
          <a href="https://twitter.com/"><i class="ion-social-twitter"></i></a>
          <a href="https://www.facebook.com/"><i class="ion-social-facebook"></i></a>
          <a href="https://www.instagram.com//"><i class="ion-social-instagram"></i></a>
          <a href="https://www.youtube.com/"><i class="ion-social-youtube"></i></a>
        </p>
      </div>
    </div>
  </div>
  <!--</div>-->