<header>
  <div id="h2">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <%= image_tag("logo.png", :height => '34', :alt => "logo") %>
        </div>
      </div>
      <!--/row -->
    </div>
</header> 

<!-- ********** FIRST ********** -->
  <section id="firstsec"></section>
  <div id="second2">
    <div class="row nomargin">
      <div class="col-md-6 col-md-offset-1">
        <h3>Forum</h3>                              
        <div class="hr-small"></div>

        <%= link_to @fobitow.content, target: "_new" do %>
          <!-- url favicon, title -->
          <h3>
            <img class="fav-align" src="http://www.google.com/s2/favicons?domain=<%= @fobitow.content.split('/').first(3).join('/')%>">
            <strong><%= @fobitow.title %></strong>
          </h3>
        <% end %>
        <hr>
            
        <section id="news">
          <ul class="media-list">
            <li class="media">
              <div class="media-right media-top">
                <%# プロフィール写真 %>
                <p class="box2">
                  <%= link_to user_path(@fobitow.user) do %>
                    <% if @fobitow.user.image? %>
                      <%= image_tag(@fobitow.user.image.url(:thumb), :size => "80", class: 'image') %>
                    <% else %>
                      <span class="gravatar">
                        <img class="media-object img-rounded" src="<%= gravatar_url(@fobitow.user, size: "80") %>" alt="">
                      </span>
                    <% end %>
                  <% end %>
                </p>
              </div>
              <div class="media-body">
                <!-- 本文 -->
                <div class="box26">
                  <p class="says textOverflow2">
                    <%= link_to @fobitow.content, target: "_new" do %>
                      <%= @fobitow.likes_count %>
                    <% end %>
                  </p>
                </div>
                <div>
                  <%# 日付 %>
                  <span class="text-muted"> Posted at <%= @fobitow.created_at.strftime("%Y/%m/%d %H:%M") %></span>
                  <% if logged_in? %>
                    <% if current_user == @fobitow.user %>
                      <!-- 編集ページへ -->
                      <%= link_to edit_fobitow_path(@fobitow) do %>
                        <i class="fa-comme fas fa-edit"></i>
                      <% end %>
                      <%# ゴミ箱 %>
                   	  <%= link_to @fobitow, method: :delete, data: { confirm: "You sure?" } do %>
                        <i class="fa-comme fas fa-trash my-gray"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                      
                  <!-- カテゴリ -->                
                  <span class="label label-info"><%= @fobitow.category %></span>
  
                  <%# ユーザ名 %>
                  <div>
                    <%= link_to @fobitow.user.name, user_path(@fobitow.user) %>
                  </div>
  
                  <!-- いいね -->
                  <span class="right" id="ajax<%= @fobitow.id %>">
                    <!-- ajax -->
                    <%= render partial: 'favorites/favorite', locals: { fobitow: @fobitow, favorite: @favorite } %>
                  </span>
  
                </div>
              </div>
            </li>
          </ul>
        </section>
      </div>
      <!--メインここまで-->

      <!--ここからサイド-->
      <div class="col-md-4">

        <aside id="sidebar">
          <section id="side_banner4">
            <div class="row">
              <ul>
                <div>
                  <li class="media">
                    <div class="media-right2 media-top">
                      <%# イメージ画像 %>
                      <p class="box4">
                        <% if logged_in? %>
                          <%= link_to user_path(current_user) do %>
                            <% if current_user.image? %>
                              <%= image_tag(current_user.image.url(:thumb), :size => "50", class: 'image') %>
                            <% else %>
                              <span class="gravatar">
                                <img class="media-object img-rounded" src="<%= gravatar_url(current_user, size: "50") %>" alt="">
                              </span>
                            <% end %>
                          <% end %>
                        <% else %>
                          <%= image_tag "panda.png", :size => "50" %>
                        <% end %>
                      </p>
                    </div>

                      <div class="media-body mtb3">
                        <% if logged_in? %> 
    
                          <%= form_for([@fobitow , @comment]) do |f| %>
    
                            <% if @comment.errors.any? %>
                              <div class="alert alert-warning">
                                <ul>
                                  <% @comment.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                  <% end %>
                                </ul>
                              </div>
                            <% end %> 
  
                            <script type="text/javascript">
                              $(function(){
                                $('textarea').bind('keydown keyup keypress change',function(){
                                  var thisValueLength = $(this).val().length;
                                  $('.count').html(thisValueLength);
                                });
                              });
                            </script>
                        
                            <%= f.text_area :body, :placeholder => "コメントを投稿しましょう！", class: 'form-control', rows: 7 %>
                            <p><span class="count">0</span>/120&nbsp;&nbsp;&nbsp;</p>
    
                            <%= f.submit 'Post!', class: 'btn-conf btn-green' %>
    
                          <% end %>
  
                        <% else %>
                          <%= form_for([@fobitow , @comment]) do |f| %>
                            <%= f.text_area :body, :placeholder => "Bookshare にログインして、この記事にコメントしてみましょう！", class: 'form-control', readonly: 'true', rows: 7 %>
                          <% end %>
                    
          <p style="text-align:center">さっそく、Bookshare を始めましょう！</p>
          <hr>

          <div class="contact-form php-mail-form">
            <p style="text-align:center">
              <div class="form-send">
              <span>
                <button type="submit" class="btn btn-large">
                <%= link_to 'Sign Up', signup_path %>
                </button>
                <font color="#777">&nbsp;OR&nbsp;</font>
                <button type="submit" class="btn btn-large">
                <%= link_to 'Log In', login_path %>
                </button>
              </span>
              </div>  
            <p/>
          </div>

                        <% end %>
                      </div>
                    </li>
                  </div>
                </ul>
              </div>
            </section>
          </aside>
        </div>

      </div>
      <!--/first-->

      <!-- ********** SECOND ********** -->
      <section id="secondsec"></section>
      <div id="second">
        <div class="row nomargin">
          <div class="col-md-6 col-md-offset-1">
            <h3>Comments
            <!-- comments count -->
            <span class="comments_count"><font class="minimoji"><%= "(#{@fobitow.comments.count})"%></font></span></h3>
          <div class="hr-small"></div>

          <%= render 'comments/comments' %>

          <p>
            <%= link_to :back %> | 
            <%= link_to 'All Bookmarks', categorys_path %>
          </p>
        </div>
      </div>
    </div>
  </div>