<div>

    <% if users.any? %>
      <% users.each_with_index do |user, index| %>
        <table class="table table-striped table-hover">
          <tr>
            <!-- 写真 --><!-- follow,unfollow button -->
            <th>
              <!-- 写真 -->
              <div class="pro-img2">
                <%= link_to user_path(user) do %>
                  <p class="box2">
                    <% if user.image? %>
                      <%= image_tag(user.image.url(:thumb), :size => "80", class: 'image') %>
                    <% else %>
                      <span class="gravatar">
                        <img class="media-object img-rounded" src="<%= gravatar_url(user, { size: 80 }) %>" alt="">
                      </span>
                    <% end %>
                  </p>
                <% end %>
              </div>
              <!-- follow,unfollow button -->
              <%= render partial: 'relationships/follow', locals: { user: user } %>
            </th>
            
            <!-- 名前 --><!-- コメント --><!-- follower数 -->
            <th>
              <li class="media-body">
                <!-- 名前 -->
                <%= link_to user_path(user) do %>
                  <p><%= user.name %>: 
                <% end %>
                <!-- コメント -->
                <%= user.comment %><br>
                <!-- follower数 -->
                <% if @ranking_counts[user.id].present? %>
                  Follower:&nbsp;<%= @ranking_counts[user.id] %>&nbsp;&nbsp;
                <% end %>
                <% if @ranking_counts[user.id].present? and user.fobitows.count > 0 %>
                  |
                <% end %>
                <% if user.fobitows.count > 0 %>
                  Bookmark:&nbsp;<%= user.fobitows.count %></p>
                <% end %>
              </li>
            </th>
            
          </tr>
        </table>
      <% end %>
      <%= paginate users %>  
    <% end %>
</div>
