<div style="row padding-top:20px;">
  <header>

      <div class="media-body">
      <!--検索拡張機能  -->
<p>user search</p>
<%= form_tag(rankings_follow_path, :method => 'get' ) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
      </div>
      <div class="media-right">
    <!-- ロゴ -->
    <%= link_to image_tag("logo.png", :alt => "Fobitows"), root_path %>
      </div>
      <br>
      
  </header> 

        <!--ここからwrapperー-->
        <div id="wrapper" class="clearfix">
            <!--ここからメイン-->
            <div id="main2">
                <section id="point">
                    <h2></h2>
                    <section class="clearfix">
                        <figure>
                            <figcaption></figcaption>
                        </figure>
                        <h3>Users</h3>
                        <p>
                                <!-- _users呼び出し -->
                                <%= render 'users', users: @users %>

                        </p>
                    </section>
                </section>
            </div>
        </div>
        <!--wrapperここまで-->
        <!--ここからフッター-->

        <!--フッターここまで--> 