<div class="comment_index">
  <% @fobitow.comments.each do |comment| %>
    <p>
      <div class="media-left">
        <li class="col-lg-12 col-xs-12">
          <%# イメージ画像 %>
          <p class="box4">
            <span>
              <% if comment.user.image? %>
                <%= image_tag(comment.user.image.url(:thumb), :size => "50", class: 'image') %>
              <% else %>
                <span class="gravatar">
                  <img class="media-object img-rounded" src="<%= gravatar_url(comment.user, size: "50") %>" alt="">
                </span>
              <% end %>
            </span>
          </p>
        </li>
      </div>
      <div class="media-body">
        <li class="col-lg-12 col-xs-12">
          <span class="text-muted"><%= link_to "#{comment.user.name}", user_path(comment.user) %>: Posted_at <%= comment.created_at.strftime("%Y/%m/%d %H:%M") unless comment.created_at.nil? %></span>
          <p><%= comment.body %>
          
          <span class="batu">
            <%= link_to "x", [@fobitow,comment], method: :delete, data: { confirm: "You sure?" } if current_user == (comment.user) %></p>
          </span>
          
        </li>
      </div>
    </p>
    <hr>
  <% end %>
</div>
