<div class="panel panel-default">
  <div class="panel-body">
<% if users.any? %>
  <% users.each do |user| %>
    <table class="table table-striped table-hover">
        <tr>
          
          <th>
            <!-- 写真 -->
            <div class="pro-img2">
              <% if user.image? %>
                <%= image_tag(user.image.url, :size => "40x40") %>
              <% else %>
              <span class="gravatar">
          <img class="media-object img-rounded" src="<%= gravatar_url(user, { size: 40 }) %>" alt="">
              </span>
<%#                <%= image_tag("panda.png", :size => "40x40") %>
              <% end %>
            </div>
          </th>
          
          <th>
            <li class="media-body">
              <div class="media-left">
                <!-- 名前 -->
                <div class="pro-link">
                  <%= link_to user_path(user) do %>
                  <p><%= user.name %></p>
                  <% end %>
                </div>
                
                <!-- コメント -->
                <div class="pro-come">
                  <p><%= user.comment %></p>
                </div>
              </div>
            </li>
          </th>
          
          <th>
            <div class="follow-btn users-follow-btn">
            <% unless current_user == user %>
              <% if current_user.following?(user) %>
                <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
                  <%= hidden_field_tag :follow_id, user.id %>
                  <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
                <% end %>
              <% else %>
                <%= form_for(current_user.relationships.build) do |f| %>
                  <%= hidden_field_tag :follow_id, user.id %>
                  <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
                <% end %>
              <% end %>
            <% end %>

            </div>
          </th>
        </tr>
      </table>
    <% end %>
  <%= paginate users %>
<% end %>
  </div>
</div>