<header>
  <!-- ********** HEADER ********** -->
  <div id="h2">
    <div class="container">
      <div class="row">
  
        <div class="col-md-5">
          <%= image_tag("logo.png", :height => '34', :alt => "logo") %>
        </div>
      </div>
      <!--/row -->
    </div>
    <!--/container -->
  </div>
  <!--/H -->
</header>

<!--ここからwrapperー-->
<div id="wrapper" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!--ここからメイン-->
        <div id="main">
          <section id="point">
<br>
            <h6></h6>
              <h3><%= @user.name %> 's Favorites</h3>
              <hr>
            <div id="global_navi2">

              <%= render 'fobitows/fobitows', fobitows: @fobitows %> 

            </div> 
            <%= paginate @fobitows, :param_name => 'fobi_page' %>
          </section>
        </div>
        <!--メインここまで-->
      </div>
      <div class="col-md-3">

          <section id="side_banner3">
                <!-- 画像 -->
                <p class="box">
                  <% if @user.image? %>
                    <%= image_tag(@user.image.url, :size => "300", class: 'image media-object img-rounded img-responsive') %>
                  <% else %>
                    <span class="gravatar">
                      <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, size: 300) %>" alt="">
                    </span>
                  <% end %>
                </p>
                <!-- 画像 終了 -->
              </li>

              <li>
                <!-- 自己紹介コメント -->
                <div class="pro-come">
                  <p><%= @user.comment %></p>
                </div>
            <%= render 'relationships/follow_button', user: @user %>
              </li>
            </ul>
            <p>
              <% if current_user == @user %>
              <%= link_to 'Edit Profile', edit_user_path(@user) %> | 
              <% end %>
              <%= link_to 'Top', root_path %>
            </p>
            
          </section>

      </div>
      <!--wrapperここまで-->
    </div>
  </div>
</div>
<!--ここからフッター-->
<!--フッターここまで--> 