<header>

      <div class="media-body">
         <!--検索拡張機能  -->
          <div class="input-search searchForm">
            <%= form_tag user_path(current_user), :method => 'get' do %>
              <input type="radio" name="select" value="all" checked>All
              <input type="radio" name="select" value="mine">Mine | Category:
              <%= text_field_tag :search, params[:search], :placeholder => "Bookmarkを検索" %>

                <button class="searchForm-submit" type="submit"></button>
            <% end %>

          </div>
      </div>
      
      <div class="media-right">
      <!-- ロゴ -->
            <div class="logo">
              <%= link_to root_path do %>
              <%= image_tag("logo.png", :size => '200x40', :alt => "Bookshare") %> 
              <% end %>
            </div>
      </div>

        </header> 

<!--ここからwrapperー-->
<div id="wrapper" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8">
        <!--ここからメイン-->
        <div id="main">
          <section id="point">
              <h3><%= @user.name %> さんのマイページ</h3>
              <hr>
            <section class="clearfix">
              <figure>
                <figcaption>
                </figcaption>
              </figure>
            </section>
            <section class="clearfix">
              <figure>
                <figcaption>
                </figcaption>
                </figure>
              </section>
            </section>
            <section id="news">
              <%= render 'fobitows/fobitows', fobitows: @fobitows %>                         
            </section>
          </section>
        </div>
        <!--メインここまで-->
      </div>
      <div class="col-lg-4 col-xs-12">
        <!--ここからサイド-->
        <aside id="sidebar">
          <section id="side_banner">

            <div class="row">
              <li class="col-lg-12 col-xs-12">
                <!-- 画像 -->
                <p class="box">
                  <% if @user.image? %>
                    <%= image_tag(@user.image.url, :size => "300", class: 'image media-object img-rounded img-responsive') %>
                  <% else %>
                    <span class="gravatar">
                      <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(current_user, size: 300) %>" alt="">
                    </span>
                  <% end %>
                </p>
                <!-- 画像 終了 -->
              </li>

              <li class="col-lg-12 col-xs-12">
                <!-- 自己紹介コメント -->
                <div class="pro-come">
                  <p><%= @user.comment %></p>
                </div>
            <%= render 'relationships/follow_button', user: @user %>
              </li>
            </ul>
            <div class="pro-link">
              <% if current_user == @user %>
              <%= link_to 'Edit Profile', edit_user_path(@user) %> | 
              <% end %>
              <%= link_to 'Top', root_path %>
            </div>
            
          </section>
        </aside>
        <!--サイドここまで-->
      </div>
      <!--wrapperここまで-->
    </div>
  </div>
</div>
<!--ここからフッター-->
<!--フッターここまで--> 