<div style="row padding-top:20px;">
  
        <header>

      <!--検索拡張機能  -->
      <div class="media-body">

      </div>
      <div class="media-right">
      <!-- ロゴ -->
          <h1><%= link_to image_tag("logo.png", :alt => "Fobitows"), root_path %></h1></p>
      </div>

        </header> 

        <!--ここからwrapperー-->
        <div id="wrapper" class="clearfix">
            <!--ここからメイン-->
            <div id="main">
                <section id="point">

                    <section class="clearfix">
                        <figure>

               <figcaption>

               </figcaption>
                            
                            
                        </figure>

                    </section>

                    <section class="clearfix">
                        <figure>

                            <figcaption></figcaption>
                        </figure>

                    </section>

                </section>
                <section id="news">

                        <h3><%= @user.name %> さんのマイページ</h3>
                        <p>
<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">

      <div class="panel-body">
        <p id="notice"><%= notice %></p>
<!-- 画像 -->
        <p>
          <div class="thumbnail">
            <% if @user.image? %>
              <%= image_tag(@user.image.url, :size => "100") %>
            <% else %>
              <span class="gravatar">
                <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(current_user, size: "300") %>" alt="">
              </span>
<%#              <%= image_tag("panda.png", :size => "300x300") %>
            <% end %>
          </div>
        </p>
<!-- 画像 終了 -->
<!-- 自己紹介コメント -->
      <div class="panel-heading">
        <div class="pro-come">

            <p><%= @user.comment %></p>
          </div>
        </div>
      
  </div>
    <%= render 'relationships/follow_button', user: @user %>
  </div>
        <div class="pro-link">
          <% if current_user == @user %>
        <%= link_to 'Edit Profile', edit_user_path(@user) %> | 
          <% end %>
        <%= link_to 'Top', root_path %>
        </div>
  </aside>


                </section>

            </div>
            <!--メインここまで-->
            <!--ここからサイド-->
            <aside id="sidebar">
                <section id="side_banner">

                </section>
            </aside>
            <!--サイドここまで-->
        </div>
        <!--wrapperここまで-->
        
        <!--ここからフッター-->
        <!--フッターここまで--> 