<div style="row padding-top:20px;">
  
        <header>
         
            <h1><%= link_to image_tag("logo.png", :alt => "Fobitows"), root_path %></h1>
            <nav id="global_navi2">
                <ul>
                    <li class="current"><a href="/categorys/sogo.html">総合</a></li>
                    <li><a href="/categorys/scuba.html">スキューバ</a></li>
                    <li><a href="/categorys/yoga.html">ヨガ</a></li>
                    <li><a href="/categorys/igoshogi.html">囲碁・将棋</a></li>
                    <li><a href="/categorys/dance.html">ダンス</a></li>
                    <li><a href="/categorys/climb.html">登山</a></li>
                    <li><a href="/categorys/futsal.html">フットサル</a></li>
                    <li><a href="/categorys/martial.html">格闘技</a></li>
                    <li><a href="/categorys/pramo.html">プラモデル</a></li>
                    <li><a href="/categorys/camera.html">カメラ</a></li>
                </ul>
            </nav>
        </header> 

        <!--ここからwrapperー-->
        <div id="wrapper" class="clearfix">
            <!--ここからメイン-->
            <div id="main">
                <section id="point">
                    <h2>Fobitows（フォビタス）とは</h2>
                    <section class="clearfix">
                        <figure>

                            <figcaption>非日常と出会う</figcaption>
                        </figure>
                        <h3>くらしに感動を</h3>
                        <p>

                            
             <%= render 'fobitows/fobitows', fobitows: @fobitows %>               
                            
                        </p>
                    </section>
                    <section class="clearfix">
                        <figure>
                            <%= image_tag("photo02.jpg" , :alt => "Fobitowsについて1")%>
                            <figcaption>チャンスは逃さずに</figcaption>
                        </figure>
                        <h3>「したいキモチ」を応援したい</h3>
                        <p>
                            人は、一度決めると、億劫・やる気が起きない・めんどうくさいから解放されます。<br>
                            趣味と幸福度はとても深い関係にあり、ハマれる趣味がある人の方が幸福度が高く、
                            仕事にもやりがいを感じやすくなる、というデータもあるそうです。<br>
                            <br>
                            なにか始めたいけど、前から気になってるけど、なかなかキッカケがない。
                            そんな、なにかを始めるキッカケ作りのお手伝いできれば、との思いから、
                            このアプリを作成しました。 
                            
                        </p>
                    </section>
                </section>
                <section id="news">
                    <h2>おしらせ</h2>
                    <ul>
                        <li>
                            <span>2019/04/11</span>
                            <a href="course.html">自己紹介コメントの編集機能を追加しました</a>
                        </li>
                        <li>
                            <span>2019/03/15</span>
                            <a href="gallery.html">写真を追加しました</a>
                        </li>
                        <li>
                            <span>2019/02/24</span>
                            <a href="course.html">カテゴリに「カメラ」を追加しました</a>
                        </li>
                    </ul>
                </section>
            </div>
            <!--メインここまで-->
            <!--ここからサイド-->
            <aside id="sidebar">
                <section id="side_banner">
                    <h2>Fobitows へようこそ</h2>
                    <ul>
                          <li><%= link_to 'Sign up', signup_path, class: 'btn btn-block btn-primary' %></li>
                          <li><p>or</p></li>
                          <li><%= link_to 'Log in', login_path, class: 'btn btn-block btn-primary' %></li>
                          <p>さっそく、Fobitows を<br>始めましょう！</p>
                      
                    </ul>
                    <%= image_tag("logo.png", :alt => "Fobitows") %>
                    
                
                    <h2>ブックマークを追加する</h2>
                    <ul>
                          <li><%= link_to 'Bookmark', toppages_bookmark_path, class: 'btn btn-block btn-primary' %></li>

                    </ul>
                
                
                </section>
            </aside>
            <!--サイドここまで-->
        </div>
        <!--wrapperここまで-->
        
        <!--ここからフッター-->
        <footer>
            <div id="footer_navi">
                <ul>
                    <li class="current"><a href="/categorys/sogo.html">総合</a></li>
                    <li><a href="/categorys/scuba.html">スキューバ</a></li>
                    <li><a href="/categorys/yoga.html">ヨガ</a></li>
                    <li><a href="/categorys/igoshogi.html">囲碁・将棋</a></li>
                    <li><a href="/categorys/dance.html">ダンス</a></li>
                    <li><a href="/categorys/climb.html">登山</a></li>
                    <li><a href="/categorys/futsal.html">フットサル</a></li>
                    <li><a href="/categorys/martial.html">格闘技</a></li>
                    <li><a href="/categorys/pramo.html">プラモデル</a></li>
                    <li><a href="/categorys/camera.html">カメラ</a></li>

                </ul>
            </div>
            <small>&copy; 2019 Fobitows.</small>
        </footer>
         <!--フッターここまで--> 
