<header>

      <!--検索拡張機能  -->
      <div class="media-body">
                  
         <!--検索拡張機能  -->
          <div class="input-search searchForm">
            <%= form_tag root_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search], :placeholder => "Bookmarkを検索" %>
                <button class="searchForm-submit" type="submit"></button>
            <% end %>
          </div>
      </div>
      
      <div class="media-right">
      <!-- ロゴ -->
            <div class="logo">
              <%= link_to root_path do %>
                <%= image_tag("logo.png", :size => '200x40', :alt => "Bookshare") %> 
              <% end %>
            </div>
      </div>
      
            <nav id="global_navi2"> 
              <div class="gnav">
                <ul>

                  <li class="<%= 'current' if current_page?(root_path) %>">
                    <%= link_to root_path do %>
                      総合
                    <% end %>
                  </li>

<!--
<%#                  <% for l in @lists %>
<%#                    <li class="<%= 'current' if current_page?('/categorys/'"#{l}") %>">
<%#                      <%= link_to "#{l}", "categorys/#{l}" %>
<%#                    </li>
<%#                  <% end %>
-->
                  <% @co.each do |c| %>
                    <li class="<%= 'current' if current_page?('/categorys/'"#{c[0]}") %>">
                      <%= link_to "#{c[0]} (#{c[1]})", "categorys/#{c[0]}" %>
                    </li>
                  <% end %>
                </ul>
            </nav>
</header>

<%= render 'categorys/body' %>