<div style="row padding-top:20px;">
  
        <header>
         
            <h1><%= link_to image_tag("logo.png", :alt => "Fobitows"), root_path %></h1>
            <nav id="global_navi2">
                
                <ul>
                    <li class="<%= 'current' if current_page?(root_path) %>"><%= link_to root_path do %>総合<% end %></li>
                    <li class="<%= 'current' if current_page?('/categorys/ヨガ') %>"><%= link_to '/categorys/ヨガ' do %>ヨガ<% end %></li>  
                    <li class="<%= 'current' if current_page?('/categorys/スキューバ') %>"><%= link_to '/categorys/スキューバ' do %>スキューバ<% end %></li>
                    <li class="<%= 'current' if current_page?('/categorys/囲碁・将棋') %>"><%= link_to '/categorys/囲碁・将棋' do %>囲碁・将棋<% end %></li>  
                    <li class="<%= 'current' if current_page?('/categorys/ダンス') %>"><%= link_to '/categorys/ダンス' do %>ダンス<% end %></li>
                    <li class="<%= 'current' if current_page?('/categorys/登山') %>"><%= link_to '/categorys/登山' do %>登山<% end %></li>  
                    <li class="<%= 'current' if current_page?('/categorys/フットサル') %>"><%= link_to '/categorys/フットサル' do %>フットサル<% end %></li>
                    <li class="<%= 'current' if current_page?('/categorys/格闘技') %>"><%= link_to '/categorys/格闘技' do %>格闘技<% end %></li>  
                    <li class="<%= 'current' if current_page?('/categorys/プラモデル') %>"><%= link_to '/categorys/プラモデル' do %>プラモデル<% end %></li>
                    <li class="<%= 'current' if current_page?('/categorys/カメラ') %>"><%= link_to '/categorys/カメラ' do %>カメラ<% end %></li>  
                    <li class="<%= 'current' if current_page?('/categorys/そのた') %>"><%= link_to '/categorys/そのた' do %>そのた<% end %></li>  
                </ul>
            </nav>
        </header> 

        <!--ここからwrapperー-->
        <div id="wrapper" class="clearfix">
            <!--ここからメイン-->
            <div id="main">
                <section id="point">
                    <h2>Fobitows - 総合 -</h2>
                    <section class="clearfix">
                        <figure>

                            <figcaption>人気 | 新着</figcaption>
                        </figure>
                        <h3>総合 の新着エントリー</h3>
                        <p>
                        <%= render 'fobitows/fobitows', fobitows: @fobitows %>               
                        </p>
                    </section>
                    <hr>
                    <section class="clearfix">
                        <figure>
                            <%= image_tag("topicicon", :size => "100x100", :alt => "image_topic")%>
                            <figcaption></figcaption>
                        </figure>
                        <h3>Pick Up</h3>
                        <p>
                        </p>
                    </section>
                    <hr>
                </section>
                <section id="news">
                    <h2>おしらせ</h2>
                    <ul>
                        <li>
                            <span>2019/04/11</span>
                            <a href="course.html">自己紹介コメントの編集機能を追加しました</a>
                        </li>
                        <li>
                            <span>2019/03/15</span>
                            <a href="gallery.html">写真を追加しました</a>
                        </li>
                        <li>
                            <span>2019/02/24</span>
                            <a href="course.html">カテゴリに「カメラ」を追加しました</a>
                        </li>
                    </ul>
                </section>
                <hr>
            </div>
            <!--メインここまで-->
            <!--ここからサイド-->
            <aside id="sidebar">
                <section id="side_banner">
                    <h2>Fobitows へようこそ</h2>
                    <ul>
                    
                        <% if logged_in? %>
                          <%= current_user.name %> さん<br>
                          ログイン中
                            <hr>
                            <p>ブックマークを追加する</p>
                            
                            <ul>
                              <li><%= link_to 'Bookmark', toppages_bookmark_path, class: 'btn btn-block btn-primary' %></li>
                            </ul>
                            <p>おすすめのブックマークを<br>投稿しましょう！</p>
                        <% else %>
                            <li><%= link_to 'Sign up', signup_path, class: 'btn btn-block btn-primary' %></li>
                            <li><p>or</p></li>
                            <li><%= link_to 'Log in', login_path, class: 'btn btn-block btn-primary' %></li>
                            <p>さっそく、Fobitows を<br>始めましょう！</p>
                        <% end %>
                    </ul>
                    <%= image_tag("logo.png", :alt => "Fobitows") %>
                    
                </section>
            </aside>
            <!--サイドここまで-->
        </div>
        <!--wrapperここまで-->
        
        <!--ここからフッター-->
        <!--フッターここまで--> 