<!--ここからwrapperー-->
<div id="wrapper" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8">
        <!--ここからメイン-->
        <div id="main_top">
          <section id="point">
            <section class="clearfix">
              <figure>
                <figcaption>
                  <div>
                    <form action="#index" method="get">
                      <input type="submit" name="button1" value="人気" />
                      <input type="submit" name="button2" value="新着" />
                    </form>
                  </div>
                </figcaption>
              </figure>
              <h3>
                <% if  params[:category] == nil %>
                  総合
                <% else %>
                  <%= params[:category] %>
                <% end %>
                &nbsp;の
                <%= params[:button1] %><%= params[:button2] %>
                エントリー
              </h3>
              <hr>
              <p>
                <%= render 'fobitows/fobitows', fobitows: @fobitows %>               
              </p>
                      
            </section>
            <hr>

            <%= render 'toppages/info' %>               

            <hr>
          </section>
        </div>
      </div>
      <!--メインここまで-->

      <!--ここからサイド-->
      <div class="col-lg-4 col-xs-12">
 
        <aside id="sidebar">
          <section id="side_banner">

            <div class="row">
              <li class="col-lg-12 col-xs-12">
                <h2>Bookshare へようこそ</h2>
                <% if logged_in? %>
                  <div class="sign">
                    <%= current_user.name %> さん<br>
                    ログイン中
                    <hr>
                    <p>ブックマークを追加する</p>
                    <ul>
                      <li><%= link_to 'Bookmark!', fobitows_path, class: 'btn btn-block btn-primary' %></li>
                    </ul>
                    <p>おすすめのブックマークを<br>投稿しましょう！</p>
                  </div>
                <% else %>
                  <div class="sign">
                    <p> -&nbsp;&nbsp;Cloudでブックマークを収集・管理&nbsp;&nbsp;- </p>
                    <p> -&nbsp;&nbsp;便利なブックマークをカンタン共有&nbsp;&nbsp;- </p>
                    <p> -&nbsp;&nbsp;役に立ったら、”いいね！”&nbsp;&nbsp;- </p>
                    <ul>
                      <li><%= link_to 'Sign up', signup_path, class: 'btn btn-block btn-primary' %></li>
                      <li><p>or</p></li>
                      <li><%= link_to 'Log in', login_path, class: 'btn btn-block btn-primary' %></li>
                      <p>さっそく、Bookshare を始めましょう！</p>
                    </ul>
                  </div>
                <% end %>
              </li>
              <!-- ロゴ -->
              <div>
                <%= link_to root_path do %>
                  <%= image_tag("logo.png", :size => '200x40', :alt => "Bookshare") %> 
                <% end %>
              </div>
            </div>
          </section>
        </aside>
        <!--サイドここまで-->
      </div>
    </div>
  </div>
</div>
<!--wrapperここまで-->
<!--ここからフッター-->
<!--フッターここまで--> 