<div style="row padding-top:20px;">
  
        <header>
         
            <h1><%= link_to image_tag("logo.png", :alt => "Fobitows"), root_path %></h1>
            <nav id="global_navi2">
                <ul>
                    <li class="current"><a href="index.html">総合</a></li>
                    <li><a href="course.html">スキューバ</a></li>
                    <li><a href="course.html">ヨガ</a></li>
                    <li><a href="course.html">囲碁・将棋</a></li>
                    <li><a href="course.html">ダンス</a></li>
                    <li><a href="course.html">登山</a></li>
                    <li><a href="course.html">フットサル</a></li>
                    <li><a href="course.html">格闘技</a></li>
                    <li><a href="course.html">プラモデル</a></li>
                    <li><a href="lesson.html">カメラ</a></li>

                </ul>
            </nav>
        </header> 
        <div id="main_visual">
            <%= image_tag("main_visual3.jpg", :alt => "なにか始める1")%>
        </div>
        
        <!--ここからwrapperー-->
        <div id="wrapper" class="clearfix">
            <!--ここからメイン-->
            <div id="main">
                <section id="point">
                    <h2>Fobitows（フォビタス）とは</h2>
                    <section class="clearfix">
                        <figure>
                            <%= image_tag("photo01.jpg" , :alt => "Fobitowsについて1")%>
                            <figcaption>非日常と出会う</figcaption>
                        </figure>
                        <h3>くらしに感動を</h3>
                        <p>
                            たとえば、登山や、スキューバダイビング。
                            日常では体感できない経験、心地良い空間の存在を感じられます。<br>
                            普段の生活では見ることが出来ない、壮大なドラマがあります。<br>
                            <br>
                            テレビや動画で紹介された映像ではなく、現実の素晴らしい景色。<br>
                            その世界に飛び込んだ人達にしか味わえない、発見や驚き、幻想的な光景、
                            自分の目でハッキリと鮮明に確かめられる感動があります。<br>
                            <br>
                            趣味を楽しんでいるひとを、羨ましく思ったことはありませんか？
                            
                            
                            
                        </p>
                    </section>
                    <section class="clearfix">
                        <figure>
                            <%= image_tag("photo02.jpg" , :alt => "Fobitowsについて1")%>
                            <figcaption>チャンスは逃さずに</figcaption>
                        </figure>
                        <h3>「したいキモチ」を応援したい</h3>
                        <p>
                            人は、一度決めると、億劫・やる気が起きない・めんどうくさいから解放されます。<br>
                            趣味と幸福度はとても深い関係にあり、ハマれる趣味がある人の方が幸福度が高く、
                            仕事にもやりがいを感じやすくなる、というデータもあるそうです。<br>
                            <br>
                            なにか始めたいけど、前から気になってるけど、なかなかキッカケがない。
                            そんな、なにかを始めるキッカケ作りのお手伝いできれば、との思いから、
                            このアプリを作成しました。 
                            
                        </p>
                    </section>
                </section>
                <section id="news">
                    <h2>おしらせ</h2>
                    <ul>
                        <li>
                            <span>2019/04/11</span>
                            <a href="course.html">自己紹介コメントの編集機能を追加しました</a>
                        </li>
                        <li>
                            <span>2019/03/15</span>
                            <a href="gallery.html">写真を追加しました</a>
                        </li>
                        <li>
                            <span>2019/02/24</span>
                            <a href="course.html">カテゴリに「カメラ」を追加しました</a>
                        </li>
                    </ul>
                </section>
            </div>
            <!--メインここまで-->
            <!--ここからサイド-->
            <aside id="sidebar">
                <section id="side_banner">
                    <h2>関連リンク</h2>
                    <ul>
                        <li>
                            <a href="https://techacademy.jp/magazine/" target="_blank"><img src="images_kitchen/banner01.jpg" alt="ブログ"></a>
                            <p>毎日季節の野菜を取り入れたレシピを公開中。</p>
                        </li>
                    </ul>
                </section>
            </aside>
            <!--サイドここまで-->
        </div>
        <!--wrapperここまで-->
        <!--ここからフッター-->
        <footer>
            <div id="footer_navi">
                <ul>
                    <li class="current"><a href="index.html">総合</a></li>
                    <li><a href="course.html">スキューバ</a></li>
                    <li><a href="lesson.html">ヨガ</a></li>
                    <li><a href="course.html">囲碁・将棋</a></li>
                    <li><a href="course.html">ダンス</a></li>
                    <li><a href="course.html">登山</a></li>
                    <li><a href="course.html">フットサル</a></li>
                    <li><a href="course.html">格闘技</a></li>
                    <li><a href="course.html">プラモデル</a></li>
                    <li><a href="lesson.html">カメラ</a></li>

                </ul>
            </div>
            <small>&copy; 2019 Fobitows.</small>
        </footer>
         <!--フッターここまで--> 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="container">






















































    <% unless logged_in? %>
<%# サインアップ＆ログイン %>
      <div class="col-lg-5">
        <div class="center jumbotron">
          <div class="text-center">
            <h2>Welcome to the Fobitows!</h2>
            <h4>
              <div class="col-xs-5-inline">
                <%= link_to 'Sign up', signup_path, class: 'btn btn-block btn-primary' %>
                or
                <%= link_to 'Log in', login_path, class: 'btn btn-block btn-primary' %>
              </div>
            </h4>
          </div>
        </div>
      </div>

    <% else %>
      <%#<%= render 'form', fobitows: @fobitows %>
      <div class="mark-form col-lg-5">
        <div class="center jumbotron">
          <div class="text-center">
            <h3> ブックマークを追加する</h3>
            <hr>
            <div class="row">
              <div class="col-md-13">
                <%= form_for(@fobitow) do |f| %>
                  <% if @fobitow.errors.any? %>
                    <div id="error_explanation">
                      <ul>
                        <% fobitow.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <%= f.label :content, 'ブックマークするページのURLを入力' %>
                  <div class="form-group mark-post"><%= f.text_area :content, :placeholder => "おすすめページのURLを入力して下さい https://...", class: 'form-control', rows: 1 %></div>
                  <div class="form-group mark-post"><%= f.text_area :title, :placeholder => "ページについてなど、自由に入力して下さい", class: 'form-control', rows: 3 %></div>
                  <div class="form-group mark-post">
                    <%= f.select :category, [["スキューバ"], ["ヨガ"], ["囲碁・将棋"], ["ダンス"], ["登山"], ["フットサル"], ["格闘技"], ["プラモデル"], ["カメラ"], ["そのた"]], :prompt => "ジャンルを選択してください" , class: 'form-control' %>
                  </div>
                  <%= f.submit 'Post Bookmark!', class: 'btn btn-primary btn-block' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="col-lg-7">
      <%= render 'fobitows/fobitows', fobitows: @fobitows %>
    </div>
  </div>
</div>  
