         <footer id="footer">
            <div id="footer_navi">
                <ul>
                    <li><%= link_to root_path do %>総合<% end %></li>
                    <li><%= link_to '/categorys/ヨガ' do %>ヨガ<% end %></li>  
                    <li><%= link_to '/categorys/スキューバ' do %>スキューバ<% end %></li>
                    <li><%= link_to '/categorys/囲碁・将棋' do %>囲碁・将棋<% end %></li>  
                    <li><%= link_to '/categorys/ダンス' do %>ダンス<% end %></li>
                    <li><%= link_to '/categorys/登山' do %>登山<% end %></li>  
                    <li><%= link_to '/categorys/フットサル' do %>フットサル<% end %></li>
                    <li><%= link_to '/categorys/格闘技' do %>格闘技<% end %></li>  
                    <li><%= link_to '/categorys/プラモデル' do %>プラモデル<% end %></li>
                    <li><%= link_to '/categorys/カメラ' do %>カメラ<% end %></li>  
                    <li><%= link_to '/categorys/そのた' do %>そのた<% end %></li>  
                </ul>
            </div>
            <small>&copy; 2019 Fobitows.</small>
        </footer>