<header>
  <nav id="global_navi" class="navbar navbar-inverse navbar-fixed-top">
    <body style="padding-top:40px;">
      <div class="container">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
            <ul class="navbar-nav navbar-brand">
              <li class="logo <%= "current2" if current_page?(root_path) %>">
                <%= link_to root_path do %>
                <%= image_tag("logo2.png", :size => '28', :alt => "Fobitows") %> 
                  Fobitows
                <% end %>
              </li>
            </ul>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>

            <li class="chuo <%= "current2" if current_page?(rankings_favorite_path) %>">
              <%= link_to rankings_favorite_path do %>
                <span class="glyphicon glyphicon-signal" style="font-size: 14px" aria-hidden="true" style="font-size: 15px">
                </span>
                Ranking
              <% end %>
            </li>

            <li class="chuo <%= "current2" if current_page?(likes_user_path(current_user)) %>">
              <%= link_to likes_user_path(current_user) do %>
                <span class="glyphicon glyphicon-heart" style="font-size: 14px" aria-hidden="true" style="font-size: 15px">
                </span>
                Favorites
              <% end %>
            </li>
          
            <li class="chuo <%= "current2" if current_page?(users_path) %>">
              <%= link_to users_path do %>
                <span class="glyphicon glyphicon-user" style="font-size: 14px" aria-hidden="true" style="font-size: 15px">
                </span>
                Users
              <% end %>
            </li>

            <li class="dropdown <%= "current2" if current_page?(user_path(current_user)) %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              
              <% if current_user.image? %>
                <%= image_tag(current_user.image.url, :size => "25x25") %>
              <% else %>
                <%= image_tag("panda.png", :size => "25x25") %>
              <% end %>
              
              <span class="gravatar">
                <img src="<%= gravatar_url(current_user, size: 30) %>" alt="" class="img-circle">
              </span>

                <%= current_user.name %>
                <span class="caret"></span>
              </a>
              <ul class="drop dropdown-menu">
                <li><%= link_to 'My profile', user_path(current_user) %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Logout', logout_path, method: :delete %></li>
              </ul>
            </li>

            <% else %>
              <li class="chuo"><%= link_to 'Signup', signup_path %></li>
              <li class="chuo"><%= link_to 'Login', login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </body>
  </nav>
</header>