  <!-- Menu -->
  <nav class="menu" id="theMenu">
    <div class="menu-wrap">
      <h1 class="logo"><a href="#home" class="smoothscroll">Bookshare</a></h1>
      <i class="ion-android-close menu-close"></i>

        <% unless current_page?(root_path) %><%= link_to 'Top', root_path %><% end %>
        <% unless current_page?("/categorys") %><%= link_to 'All bookmarks', "/categorys" %><% end %>

      <% if current_page?(root_path) %>
        <nav class="navbar navbar-default">
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Contents<b class="caret"></b></a>
          <ul class="dropdown-menu">
        
          <a href="#firstsec" class="smoothscroll">greeting</a>
          <a href="#secondsec" class="smoothscroll">function</a>
          <a href="#thirdsec" class="smoothscroll">info</a>
          <a href="#iconsec" class="smoothscroll">about my page</a>
          <a href="#bottomsec" class="smoothscroll">search</a>
          </ul>
        </li>  
        </nav>

      <% else if current_page?(:controller => 'categorys', :action => 'index') %>

        <nav class="navbar navbar-default">
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Contents<b class="caret"></b></a>
          <ul class="dropdown-menu">
        
          <a href="#firstsec" class="smoothscroll">Bookmarks</a>
          <a href="#secondsec" class="smoothscroll">comments</a>
          <a href="#thirdsec" class="smoothscroll">notice</a>
          <a href="#bottomsec" class="smoothscroll">search</a>
          </ul>
        </li>  
        </nav>
      
      <% end %>
      <% end %>

      <% if logged_in? %>

        <%= link_to 'Bookmark!', fobitows_path %>
        <%= link_to 'Users', rankings_follow_path %>
  
      <nav class="navbar navbar-default">
      <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">My Page<b class="caret"></b></a>
        <ul class="dropdown-menu">
        <%= link_to user_path(current_user) do %>
          My Bookmarks <span class="badge"><%= @count_fobitows %></span>
        <% end %>
        <%= link_to followings_user_path(current_user) do %>
          Followings <span class="badge"><%= @count_followings %></span>
        <% end %>
        <%= link_to followers_user_path(current_user) do %>
          Followers <span class="badge"><%= @count_followers %></span>
        <% end %>
        <%= link_to likes_user_path(current_user) do %>
          Favorites <span class="badge"><%= @count_likes %></span>
        <% end %>
        <%= link_to 'Edit Profile', edit_user_path(current_user) %>
      </li>  
      </nav>

        <hr>
        <%= link_to 'Logout', logout_path, method: :delete %>
      
      <% else %>

        <%= link_to 'Users', rankings_follow_path %>
        <%= link_to 'Signup', signup_path %>
        <%= link_to 'Login', login_path %>

      <% end %>

    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i class="ion-navicon"></i></div>

  </nav>
